<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/jeongeup/css/header.css">
    <link rel="stylesheet" href="../public/jeongeup/css/nav.css">
    <link rel="stylesheet" href="../public/jeongeup/css/<%-css%>.css">
    <link rel="stylesheet" href="../public/jeongeup/css/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>정읍 펜션</title>
</head>
<body>
<%-header%>
<%-nav%>
<%-content%>
<%-footer%>
</body>
</html>