<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/kimje/css/nav.css">
    <link rel="stylesheet" href="../public/kimje/css/header.css">
    <link rel="stylesheet" href="../public/kimje/css/<%-css%>.css">
    <link rel="stylesheet" href="../public/kimje/css/footer.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>김제펜션</title>
</head>
<body>

    <%-nav%>
    <%-header%>
    <%-content%>
    <%-footer%>
    
   
</body>
</html>